@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-SemiBoldItalic.eot');
    src: local('Euclid Triangle SemiBold Italic'), local('EuclidTriangle-SemiBoldItalic'), url('./../font/EuclidTriangle-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-SemiBoldItalic.woff2') format('woff2'), url('./../font/EuclidTriangle-SemiBoldItalic.woff') format('woff'), url('./../font/EuclidTriangle-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-Bold.eot');
    src: local('Euclid Triangle Bold'), local('EuclidTriangle-Bold'), url('./../font/EuclidTriangle-Bold.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-Bold.woff2') format('woff2'), url('./../font/EuclidTriangle-Bold.woff') format('woff'), url('./../font/EuclidTriangle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-MediumItalic.eot');
    src: local('Euclid Triangle Medium Italic'), local('EuclidTriangle-MediumItalic'), url('./../font/EuclidTriangle-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-MediumItalic.woff2') format('woff2'), url('./../font/EuclidTriangle-MediumItalic.woff') format('woff'), url('./../font/EuclidTriangle-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-Light.eot');
    src: local('Euclid Triangle Light'), local('EuclidTriangle-Light'), url('./../font/EuclidTriangle-Light.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-Light.woff2') format('woff2'), url('./../font/EuclidTriangle-Light.woff') format('woff'), url('./../font/EuclidTriangle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-Regular.eot');
    src: local('Euclid Triangle Regular'), local('EuclidTriangle-Regular'), url('./../font/EuclidTriangle-Regular.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-Regular.woff2') format('woff2'), url('./../font/EuclidTriangle-Regular.woff') format('woff'), url('./../font/EuclidTriangle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-LightItalic.eot');
    src: local('Euclid Triangle Light Italic'), local('EuclidTriangle-LightItalic'), url('./../font/EuclidTriangle-LightItalic.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-LightItalic.woff2') format('woff2'), url('./../font/EuclidTriangle-LightItalic.woff') format('woff'), url('./../font/EuclidTriangle-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-Medium.eot');
    src: local('Euclid Triangle Medium'), local('EuclidTriangle-Medium'), url('./../font/EuclidTriangle-Medium.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-Medium.woff2') format('woff2'), url('./../font/EuclidTriangle-Medium.woff') format('woff'), url('./../font/EuclidTriangle-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-Italic.eot');
    src: local('Euclid Triangle Italic'), local('EuclidTriangle-Italic'), url('./../font/EuclidTriangle-Italic.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-Italic.woff2') format('woff2'), url('./../font/EuclidTriangle-Italic.woff') format('woff'), url('./../font/EuclidTriangle-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-BoldItalic.eot');
    src: local('Euclid Triangle Bold Italic'), local('EuclidTriangle-BoldItalic'), url('./../font/EuclidTriangle-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-BoldItalic.woff2') format('woff2'), url('./../font/EuclidTriangle-BoldItalic.woff') format('woff'), url('./../font/EuclidTriangle-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Triangle';
    src: url('./../font/EuclidTriangle-SemiBold.eot');
    src: local('Euclid Triangle SemiBold'), local('EuclidTriangle-SemiBold'), url('./../font/EuclidTriangle-SemiBold.eot?#iefix') format('embedded-opentype'), url('./../font/EuclidTriangle-SemiBold.woff2') format('woff2'), url('./../font/EuclidTriangle-SemiBold.woff') format('woff'), url('./../font/EuclidTriangle-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}