.loader {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7e772f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 100px;
    z-index: 999;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}